
body, html {
  background-color: #d5eafc;
  /* display: flex;
  align-items: center;
  justify-content: center;  */
}

body, p, input, select, textarea, button {
  font-family: 'Joan', serif;
font-family: 'Roboto', sans-serif;
  letter-spacing: -0.1px;
  font-size: 16px;
}

div, p {
  color: rgb(204, 193, 186);
  text-shadow: 1px 1px 1px #FFF;
  
}

form {
  padding: 10px;
  width: 320px;
  margin: 0 auto;
  
}

.container {
    top: 46%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
    background-color: #fafafe;
    border-radius: 10px;
    margin: 40px;
    padding: 25px 20px 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    width: 420px;
    height: auto;
    box-sizing: border-box;
   
}

.segment {
  padding: 20px 0 0 0;
  text-align: center;
  border-bottom: solid #080808f1 2px;
  margin-bottom: 20px;
}

.segment h1{
  /* font-size: 2.3em;
  font-weight: 400;
  color: #FFE69A; */
  color: #515a6e;
  -webkit-box-align: center;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
 
button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 10px;
  background-color: rgb(240, 235, 235);
  text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.my1{
  display: block;
  border-radius: 15px;
  margin-bottom: 24px;
  width: 100%;
  background-color: rgb(238, 240, 235);
}

.my2{
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px rgba(186, 204, 200, 0.262), inset -5px -5px 10px rgba(255, 255, 255, 0.365);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

/* button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
button.red {
  display: block;
  width: 100%;
  color: rgb(0, 165, 174);
} */

button.red{
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    margin: 25px 0 10px;
    color: #fff;
    background: linear-gradient(#ff6100, #ff5050);
    box-shadow: 0 2px 12px -3px #ff5050;
    -moz-animation: btn 6s 3s infinite ease-in-out;
    -webkit-animation: btn 6s 3s infinite ease-in-out;
    animation: btn 6s 3s infinite ease-in-out;
    opacity: 0.9;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}



.subheader {
  color: #515a6e;
}

#options {
    color: #515a6e;
    padding-right: 30px;
}

#number {
  width: 10em;
}
